@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  body {
    min-block-size: 100vh;

    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    display: block;

    max-inline-size: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

body.custom-cursor-active,
body.custom-cursor-active :is(a, button, input, textarea) {
  cursor: none;
}

#wrapper {
  align-items: center;
  background: #161616;
  display: flex;
  height: 100dvh;
  justify-content: center;
  width: 100%;
}

.cursor {
  background: white;
  border-radius: 50%;
  height: 8px;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  user-select: none;
  width: 8px;
  z-index: 9999;

  &::before {
    background-image: url("../assets/cursor-view-more.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 96%;
    border-radius: 50%;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0%;
    transition: opacity 0.2s;
    width: 100%;
    will-change: transform, opacity;
  }

  &.active {
    opacity: 1;

    &::before {
      opacity: 1;
      animation: rotation 6s linear infinite var(--spin-dir, normal);
    }
  }
}

.cursor-follower {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  height: 40px;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  user-select: none;
  width: 40px;
  z-index: 9998;

  &.active {
    opacity: 0.3;
  }
}

.portfolio-thumb {
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);

  img {
    max-inline-size: 360px;
    opacity: 0.7;
    transform-origin: 90% center;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  }
}

.portfolio-item:hover {
  .portfolio-thumb {
    translate: -1.75rem 0;

    img {
      opacity: 1;
      scale: 1.2;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
